#table {
    width: 30%;
    border-collapse: collapse;
    margin: 20px
  }
 th, td {
    padding: 10px; 
    text-align: left;
    border: 1px solid black; 
    font-family: Arial, sans-serif;

  }
.container .table th {
    background-color: lightblue;
    color: fuchsia;
  }

.info {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}                        

.carousel {
  max-width: 30%; 
  margin-top: -320px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: lightgoldenrodyellow; 
}

